@tailwind base;
@tailwind components;
@tailwind utilities;


.test {
    background-color: brown;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    width: 15px;
    padding: 0px;
    margin: 0px;
} */

/* input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: "rgba(0,0,0,0)";
    bottom: 0;
    color: "rgba(0,0,0,0)";
    cursor: "pointer";
    height: "auto";
    left: 0;
    position: "absolute";
    right: 0;
    top: 0;
    width: "auto";
   } */

   ::-webkit-calendar-picker-indicator {
    filter: invert(1)
            brightness(50%)
            sepia(100%)
            saturate(10030%)
            hue-rotate(120deg);
    width: 25px;
    height: 25px;
    }

    /* @-moz-document url-prefix() {
        input[type="date"] {
            filter: invert(1)
            brightness(50%)
            sepia(100%)
            saturate(10030%)
            hue-rotate(120deg);
        }
    } */
